apiVersion: apps/v1
kind: Deployment
metadata:
  name: pmhq
  namespace: opencode-bot-agent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pmhq
  template:
    metadata:
      labels:
        app: pmhq
    spec:
      containers:
        - name: pmhq
          image: linyuchen/pmhq:latest
          securityContext:
            privileged: true
          env:
            - name: ENABLE_HEADLESS
              value: "false"
            - name: AUTO_LOGIN_QQ
              value: ""
          volumeMounts:
            - name: data
              mountPath: /app/llbot/data
              subPath: llbot-data
            - name: data
              mountPath: /root/.config/QQ
              subPath: qq
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: opencode-bot-agent-data
